ES_SessionHandler_SH/Schemas/Logout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.eniquesolutions.org/Logout" xmlns:tns="http://www.eniquesolutions.org/Logout" elementFormDefault="qualified">

    <complexType name="LogoutReqType">
    	<sequence>
    		<element name="CustomerID" type="string"></element>
    		<element name="SessionID" type="string"></element>
    	</sequence>
    </complexType>

    <element name="LogoutReq" type="tns:LogoutReqType"></element>
</schema>