ES_Common_Model_SH/Service Descriptors/ProductManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/ProductManagement/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductManagement" targetNamespace="http://www.tibco.com/ProductManagement/" xmlns:xsd1="http://www.eniquesolutions.com/FileInput" xmlns:xsd2="http://www.eniquesolutions.org/Staus" xmlns:xsd3="http://www.eniquesolutions.org/Products" xmlns:xsd4="http://www.eniquesolutions.org/Categories">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.tibco.com/ProductManagement/">
      <xsd:element name="AddProduct">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddProductResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteProduct">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteProductResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateProduct">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateProductResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllProducts">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllProductsResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetIndividualProduct">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetIndividualProductResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetIndividualProducts">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetIndividualProductsResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProductByCategory">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetProductByCategoryResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.eniquesolutions.com/FileInput"
    		schemaLocation="../Schemas/FileInput.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.eniquesolutions.org/Staus"
    		schemaLocation="../Schemas/Staus.xsd">
    	</xsd:import>
    	<xsd:import namespace="http://www.eniquesolutions.org/Products"
    		schemaLocation="../Schemas/Products.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.eniquesolutions.org/Categories"
    		schemaLocation="../Schemas/Categories.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="AddProductRequest">
    <wsdl:part element="xsd1:FileInput" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="AddProductResponse">
    <wsdl:part element="xsd2:Status" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="DeleteProductRequest">
  	<wsdl:part name="parameters" element="xsd1:FileInput"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteProductResponse">
  	<wsdl:part name="parameters" element="xsd2:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateProductRequest">
  	<wsdl:part name="parameters" element="xsd1:FileInput"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateProductResponse">
  	<wsdl:part name="parameters" element="xsd2:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllProductsRequest">
  	<wsdl:part name="parameters" element="xsd2:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAllProductsResponse">
  	<wsdl:part name="parameters" element="xsd3:Products"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIndividualProductRequest">
  	<wsdl:part name="parameters" element="tns:GetIndividualProduct"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIndividualProductResponse">
  	<wsdl:part name="parameters" element="tns:GetIndividualProductResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIndividualProductsRequest">
  	<wsdl:part name="parameters" element="xsd3:ProductID"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetIndividualProductsResponse">
  	<wsdl:part name="parameters" element="xsd3:Product"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProductByCategoryRequest">
  	<wsdl:part name="parameters" element="xsd4:Category"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProductByCategoryResponse">
  	<wsdl:part name="parameters" element="xsd3:Products"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProductManagement">
    <wsdl:operation name="AddProduct">
      <wsdl:input message="tns:AddProductRequest"/>
      <wsdl:output message="tns:AddProductResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
    	<wsdl:input message="tns:DeleteProductRequest"></wsdl:input>
    	<wsdl:output message="tns:DeleteProductResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
    	<wsdl:input message="tns:UpdateProductRequest"></wsdl:input>
    	<wsdl:output message="tns:UpdateProductResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
    	<wsdl:input message="tns:GetAllProductsRequest"></wsdl:input>
    	<wsdl:output message="tns:GetAllProductsResponse"></wsdl:output>
    </wsdl:operation>    <wsdl:operation name="GetIndividualProducts">    	<wsdl:input message="tns:GetIndividualProductsRequest"></wsdl:input>    	<wsdl:output message="tns:GetIndividualProductsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductByCategory">
    	<wsdl:input message="tns:GetProductByCategoryRequest"></wsdl:input>
    	<wsdl:output message="tns:GetProductByCategoryResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductManagementSOAP" type="tns:ProductManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://www.tibco.com/ProductManagement/AddProduct"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductManagement">
    <wsdl:port binding="tns:ProductManagementSOAP" name="ProductManagementSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
